<%- include('../partials/header') %>


<div class="card mb-3" id="dashboard">
  <div class="card-body rounded-soft bg-gradient" >
    <div class="row text-white align-items-center no-gutters">
      <div class="col">
        <h4 class="text-white mb-0">Today $4215.25</h4>
        <p class="fs--1 font-weight-semi-bold">Yesterday <span class="opacity-50">$6502.25</span></p>
      </div>
      <div class="col-auto d-none d-sm-block">  
      </div>
    </div>
  
    <div class="container" style="float: right;">
    <canvas class="max-w-100 rounded" id="myChart" width="1600" height="375"></canvas>
    </div>
  </div>
</div>

<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Weekly Sales</h4>
      <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-primary">$40,000</div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Website Status:</h4>
      <div class="display-4 fs-4 mb-2 font-weight-normal text-sans-serif text-warning">ONLINE</div>
      <p class="card-text"><%= store %></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Weather</h4>
      <p class="card-text">Current Temp:<span class="badge badge-soft-warning rounded-capsule ml-1 text-warning"><%= results.current.temp_f %></span></p>
      <p class="card-text">Rain:<span class="badge badge-soft-warning rounded-capsule ml-1"><%= results.current.precip_in %> in</span></p>
      <p class="card-text">Wind:<span class="badge badge-soft-warning rounded-capsule ml-1"><%= results.current.wind_dir %> @ <%= results.current.wind_mph %> mph</span></p>
      <p class="card-text">Current Condition</p><span class=" ml-1"><img src='http:<%=results.current.condition.icon %>' ></span>
      </div>
      
    </div>
  </div>
</div>

<script>

</script>

<%- include('../partials/footer') %>

