<%- include('../partials/header') %>
<div class="tasks">
    <h1>Task List</h1>
    <% if (!tasks.length) { %>
    <p>
      There are no tasks yet
    </p>
    <% } %>
    <% tasks.forEach(t => { %>
      <li>
        <a href="/tasks/<%= t._id %>"><%= t.title %> - <%= t.done ? 'done' : 'not done' %></a>
      </li>
      <form action="/tasks/<%= t._id %>?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    <% }) %>
    <br>
    <br>
    <form action="/tasks/?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-danger">Delete All</button>
    </form>
    <br>
    <form action="/tasks/new">
    <button class="btn btn-primary">Add a New Task
    </button>
    </form>
</div>
    
<%- include('../partials/footer') %>
